@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0 auto;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    height: 3000px;
    max-width: 90vw; /* (max width - 90 percent of screen ratio) */
    margin: auto;
    font-family: "Roboto Condensed", sans-serif;
    transition: transform 0.5s;
}
.heading{
    height: 50px;
    padding: 5px;
}
.title{
    font-family: "Roboto Condensed", sans-serif;
    /* display: inline-block; */
    float: left;
}
.cart_icon{
    /* background-color: black; */
    float: right;
    position: relative;
}
.cart_icon svg{
    width: 40px;
}
.cart_icon span{
    background-color: whitesmoke;
    display: flex;
    justify-content: center; /* center horizontally*/
    align-items: center; /* center vertically*/
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    top: 2.3%;
    right: 5.8%;
}
.clear{
    clear: both;
}
.product_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item1{
    background-color: #87e581;
    text-align: center;
    border-radius: 30px;
    border: 1px solid rgb(185, 185, 185); 
    font-size: 12px;
}
.item1 img{
    width: 85%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.619));
}
.item1 span svg{
    width: 15px;
}

.item-name{
    margin-top: 5px;
}
.add-to-cart{
    display: inline-block;
    background-color: rgba(108, 108, 108, 0.971);
    color: white;
    width: 50%;
    padding: 3px 0;
    border-radius: 10px;
    margin: 3px auto 8px;
    border: none;
    cursor: pointer;
}
.add-to-cart:hover{
    background-color: white;
    color: #87e581;;
}


/* Cart */
#-cart .cart{
    inset: 0 0 0 auto   ;
}

#-cart{
    transform: translateX(-200px);
}
.cart{
    background-color: rgb(20, 20, 20);
    position: fixed;
    top: 0;
    right: -500px;
    bottom: 0;
    left: auto;
    width: 420px;
    display: grid;
    grid-template-rows: 50px 1fr 60px;
    transition: 0.5s;
}

.cart h1{
    border-bottom:1px solid white;
    color: white;
    padding-top: 3px;
    margin-bottom: 3px;
}
.cart-list{
    overflow: auto;
}
.cart-item{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-bottom: 1px white solid;
}
.cart-item:nth-child(even){
    background-color: rgb(41, 40, 40);
}

.cart img{
    width: 100%;
}
.item-detail{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.item-qty{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.item-qty span{
    width: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 25px;
}
.item-qty span:nth-child(2){
    background-color: transparent;
    color: white;
}

.remove{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.remove-btn{
    width: 65px;
}


.cart-btn{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: whitesmoke;
    padding: 5px;
    
}
.cart-btn button{
    background-color: #87e581;
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}